<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.number_field :rut, id: :company_rut %>
  </div>

  <div class="field">
    <%= form.label :dv %>
    <%= form.text_field :dv, id: :company_dv %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :company_description %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo, id: :company_logo %>
  </div>

  <div class="field">
    <%= form.label :web %>
    <%= form.text_field :web, id: :company_web %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
